@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #1e2d3a;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

/* nav */

.colorWrapper {
  background-color: var(--primary-color);
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 3;
}

.mainNav {
  width: 1400px;
  margin: 0 auto;
  height: 90px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
}

.logo img {
  width: 70px;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 20px #eee);
  margin-left: 40px;
}

.logo p {
  width: 90px;
  margin-left: 30px;
  font-size: 1.1em;
  font-weight: 700;
  color: #f4f4f4;
}

.logo span {
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.5em;
  text-align: center;
  width: 90px;
  color: #00ffca;
}

.mainNav .search {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  display: block;
  width: 80%;
  height: 34px;
  border-radius: 20px;
  max-width: 300px;
  padding: 1px 10px;
  font-size: 1.1em;
}

.search i {
  margin-left: 14px;
  background-color: #fff;
  padding: 9px;
  border-radius: 50%;
  cursor: pointer;
}

.mainNav ul {
  list-style: none;
  padding: 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainNav ul li a {
  padding: 8px 10px;
  margin: 0 20px;
  color: #f4f4f4;
  border-radius: 10px;
  font-size: 1.3em;
  cursor: pointer;
  text-decoration: none;

  transition: 0.5s;
}

.mainNav li.appointmentLi {
  border: 2px solid #fff;
  border-radius: 10px;
}

.mainNav li.appointmentLi a {
  display: block;
  border: 2px solid #fff;
  background-color: #fff;
  color: var(--primary-color);
  font-weight: 600;
  margin: 5px;
}

.mainNav li a:hover {
  color: darkorange;
}

/* main */

main {
  max-width: 1400px;
  margin: 90px auto 0;
  padding-bottom: 90px;
  background-color: #f9f9f9;
  position: static;
  box-sizing: border-box;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 700px;
  background: url("./assets/bg.png") no-repeat center;
  object-fit: contain;
  box-shadow: 0px 4px 10px 0px #000;
  overflow: hidden;
  margin-bottom: 40px;
}

.hero:hover .imgWrapper img {
  scale: 1.1;
}

.dimmer {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.imgWrapper {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
}

.imgWrapper img {
  filter: drop-shadow(14px 4px 20px #000);
  height: 90%;

  transition: 0.4s ease;
}

.textWrapper {
  width: 50%;
  z-index: 1;
}

.caption {
  text-align: center;
  padding: 0 40px;
  color: #fff;
  text-shadow: 1px 1px 10px #000;
}

.caption h2 {
  font-size: 2.5em;
  margin: 10px 0;
}

.caption .aboutSelf {
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 10px 0;
}

.caption .aboutSelf span {
  color: darkorange;
  font-weight: 700;
  font-size: 1.3em;
}

.caption .quote {
  width: 70%;
  margin: 100px auto;
  font-size: 2em;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #aaa;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;

  transition: 0.4s ease;
}

.socials i:hover {
  background-color: darkorange;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

/* services */
#services {
  padding: 10px 40px 40px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 40px;
}

#services h2 {
  font-size: 2em;
  margin: 10px 40px 40px;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  align-items: center;
  justify-items: center;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top: 10px solid var(--primary-color);
  border-bottom: 10px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;

  transition: 0.2s ease;
}

.service:hover {
  box-shadow: 2px 0px 4px 2px #000, -2px 0px 4px 2px #000;
  transform: scale(1.02);
}

.service .headingWrapper {
  width: 80%;
  height: 60px;
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 4px 8px;
  margin-bottom: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service p {
  text-align: justify;
  padding: 0 20px;
  height: 50%;
  box-sizing: border-box;
}

.service button {
  padding: 10px 20px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  background-color: #fff;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;

  transition: 0.3s ease;
}

.service button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* prices */
#prices {
  margin: 40px auto;
  padding: 10px;
  width: 70%;
  min-width: 400px;
  border: 4px solid var(--primary-color);
  border-radius: 30px;
}

.pricesInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.pricesInner .heading {
  text-align: center;
  background-color: var(--primary-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
  font-size: 1.2em;
}

.pricesTable {
  background-color: var(--primary-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px 30px;
  box-sizing: border-box;
}

.priceItem {
  width: 80%;
  margin: 15px auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: 500;
}

.priceName {
  width: 70%;
}

.priceItem .price {
  text-align: center;
  width: 20%;
}

.priceItem .price p:first-child {
  color: darkorange;
}

/* appointment */

#appoint {
  width: 60%;
  min-width: 500px;
  margin: 80px auto 0;
  padding: 40px 20px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  background-color: #eee;
}

#appoint h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form .inputs {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}

.form .inputs input {
  min-width: 200px;
  width: 40%;
  border-radius: 20px;
  border: 2px solid var(--primary-color);
  padding: 10px 14px;
  font-size: 1em;
}

.form textarea {
  display: block;
  margin: 20px auto;
  height: 60px;
  width: 60%;
  min-width: 400px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  font-size: 1.2em;
  padding: 10px 14px;
  resize: none;
}

.form button {
  padding: 10px 14px;
  width: 50%;
  margin: 20px auto;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 600;
  font-size: 1.1em;
  cursor: pointer;

  transition: 0.4s ease;
}

.form button:hover {
  scale: 1.05;
  color: var(--primary-color);
  background-color: #fff;
}

/* footer */
footer {
  width: 100%;
  background-color: var(--primary-color);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.1em;
  font-weight: 400;
  text-shadow: 1px 1px 2px #000;
}

footer p {
  cursor: pointer;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.brandColor1 {
  color: #77d8d8;
}

.brandColor2 {
  color: #f2a365;
}

@media screen and (max-width: 1200px) {
  .servicesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
